<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Squash</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive animated bounceInLeft" src="assets/11.jpg" alt="">

                <hr>

                
                <p class="lead">The Squash Area boasts five world-class glass-backed courts. The courts create a focus for University training and competition and act as a regional squash hub for players of all levels from beginners to international competitors.</p>
               <h2 class="met" id: "2"> Club Nights</h2>
<p>
                Club nights take place on Friday evenings from 7pm-9pm and on Sunday evenings from 6pm -8pm. They are open to everyone so if you fancy meeting some like minded people for a game of Squash, this is the place to come!</p>
                 <h2 class="met" id: "3"> Squash Leagues</h2>
                <p>

                    There are internal leagues for everyone which are run through the Bluejay Squash Club and provide an excellent place to find new people to play. Currently we have the following leagues for you to join:

                        Evening Squash leagues 16 divisions and 84 players
                        Lunchtime Squash Leagues 5 Divisions and 17 players
                        Racketball Leagues 3 Divisions and 15 players  

                        To join please contact Head Squash Coach James Powley.</p>
                                                <h2 class="met" id: "4">Players' Lounge</h2>
                             <p>

                                The players lounge next to court 1 is now officially open and there for you to relax and unwind after a hard game of Squash. In the future the TV in that room will also be hooked up to BT Sport or PSA Squash TV so that you can watch and admire some of the best players in the world.</p>
                        <h2 class="met" id: "wa">Saturday Morning Juniors</h2>
                <p>

                                Starting again in Autumn, these sessions are for children aged 4 onwards and are based around the ABC’s of sport (Agility, Balance & Coordination). They have different skills and levels to work towards and the children will receive certificates and bands on completing the different levels. For more information meet James Powley.</p>
                                <h2 class="met" id: "6">Eye Squash Rackets</h2>
                                                <p>
                        Alongside our stringing service we are now selling Eye Squash Rackets in conjunction with Top Spin Tennis. We have demos available for anyone who would like to try them. These rackets are new to the new India but not to the world's best players who use them, such as Amr Shabana (4 times world champion) and Borja Golan (Spanish no.1 and former world no.7).</p>
                             <hr>

               
                                     <hr>

                <!-- Posted Comments -->

               </div> 

               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                <li><a class="page-scroll wind"  >Club Nights</a>
                                </li>
                                <li><a class="page-scroll wind" >Squash Leagues</a>
                                </li>
                                <li><a  class="page-scroll wind">Palyers Lounge</a>
                                </li>
                                <li><a  class="page-scroll wind">Saturday Morning Juniors</a>
                                </li>
                                <li><a class="page-scroll wind">Eye Squash</a>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Squash Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co.jpg" %>
                     </div>
                     <h5 class ="get">James Powley</h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
