<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall1 har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Tennis</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive animated bounceInLeft" src="assets/12.jpg" alt="">

                <hr>
<div class="well wellopa">
                
                <p class="lead hv" id: "1">     
 
 

We have 4 all-weather artificial grass outdoor tennis courts which can be played on all the year round. Each court has floodlights which can be switched on via the meters inside the clubhouse </p>
               <h2 class="met" id: "2"> TENNIS COURTS BOOKING (Members only)</h2>
<p>Visitors may use the tennis courts after paying the fee displayed on the board outside the clubhouse. Fees should be deposited in the green box by the main door.</p>
                 <h2 class="met" id: "3"> Club Nights (generally 6.30pm onwards)</h2>
                <p>

                   Monday - Ladies night</br>
Tuesday - Ladies Match night (May & June) </br>
Thursday - Mens Match night (May & June)</br>
Friday - Mixed night</br>
Saturday - Junior night</br>
Sunday - Mens night</br>

After 6.30pm adults have priority on the courts except for Saturdays. This means that juniors may only play after 6.30pm if there are no adults waiting to play. Outwith club nights, juniors must vacate court after half an hour if anyone is waiting to play, adults must vacate after one hour.</p>
                                                <h2 class="met" id: "4">Coaching</h2>
                             <p>
Group coaching sessions for adults and children are available at various times of the year. Contact Fiona on 07738 236813 for further details. Individual coaching can also be arranged with one of our coaches.</p>
                        <h2 class="met" id: "wa">Teams</h2>
                <p>
Anyone interested in joining one of the teams that play in the local leagues should contact the appropriate person below.
Mens - Tom Cunningham 01786 823969
Ladies - Bernie Beattie 01786 824398
Junior Boys - Fiona Bennie 07738 236813
Junior Girls - Fiona Bennie</p>
                                <h2 class="met" id: "6">Tennis Championships 2014</h2>
                                                <p>
                        Mens Singles - Winner Michael Welsh, R-up Ben Bel</br>
Ladies Singles - Winner Angela Fraioli, R-up Nicola Cunningham</br>
Mens Doubles - Winners David Gemmell & David McCallum, R-up Ben Bel & Neil Welsh</br>
Ladies Doubles - Winners Angela Fraioli & Nicola Cunningham, R-up Alison Brown & Bernie Beattie </br>
Mixed Doubles - Winners Michael & Dorothy Welsh, R-up Ben Bel & Bernie Beattie
</br></p>
                             <hr>

               
                                     <hr>

                <!-- Posted Comments -->

               </div> 
</div>
               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                <li><a class="page-scroll wind" href="#" >About</a>
                                </li>
                                <li><a class="page-scroll wind"  >ONLINE BOOKING</a>
                                </li>
                                <li><a  class="page-scroll wind">Club Nights</a>
                                </li>
                                <li><a  class="page-scroll wind">Coaching</a>
                                </li>
                                <li><a class="page-scroll wind" >Teams</a>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Tennis Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co1.jpg" %>
                     </div>
                     <h5 class ="get">Steve Allen</h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
