<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall2 har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Golf</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive animated bounceInLeft" src="assets/13.jpg" alt="">

                <hr>
<div class="well wellopa">
                
                <p class="lead hv" id: "1">Golf & Sports Club is one of India's top rated courses, and one of the best in Asia. The layout created by one of America's leading golf course architects, Ronald M. Garl, was the venue for the 2000 Johnnie Walker Classic PGA tournament won by Tiger Woods and again hosted the same event in 2004.</p>
              
<p>The 18 holes at Bluejay golf simply put make up the most challenging golf course in Pune, and by a wide margin! In addition to the superb layout this member’s only golf club is extremely well maintained and features lightning fast greens and undulating fairways</p>
                 
                <p>
Large stately trees, bushes and shrubs flourish within the undulating parkland layout. In fact, it is hard to imagine that Bluejay was originally created from flat rice paddy fields. The changing elevations are more characteristic of courses in Chiang Mai, Hua Hin or Phuket, instead of Pune.
                    </p>
                                                
                             <p>

                               In addition to significant elevation changes and a wonderfully rolling undulating design, water is also much in evidence, along with beach-style bunkers, which most notably protect the front of the par-3 3rd and 12th holes. This is not a Pune golf course for the faint-hearted. Some of the drives require straight shots to avoid winding up in the jungle lining many of the holes. Finding the often water-protected greens is also no mean achievement. The 7th and 11th holes for example, are both played to what in essence are island greens, connected to each other by a small sliver of land. With these relatively small putting surfaces to aim at, one is left mesmerized to discover that Tiger Woods actually eagled the 555-yard par-5 7th on his way to winning the 2000 Johnnie Walker Classic. Bluejay is clearly a layout that will test the best, but also one that is full of wonderfully picturesque holes, lots of lush vegetation and, for the Pune area, an extravagance of undulations and "Bluejay" earth mounding.</p>
                        
                <p>

                                A player’s tip to note is that most of the greens slope from back to front, so keeping the ball below the hole makes shooting low scores much easier. Conservative fairway and approach shots will be rewarded while badly placed shots held subject to costly penalties.</p>
                                
                                                <p>
                        Thailand golfers privileged to play at Bluejay Golf and Sports Club will have an unforgettable experience of having their golf skills challenged. The clubhouse facilities, locker rooms, and 2 restaurants (a coffee shop and gourmet Chinese restaurant) are all excellent with service to match. Bluejay Golf & Sports Club should be included in any serious Pune golf package.</p>
                             <hr>

               
                                     <hr>

                <!-- Posted Comments -->

               </div> 
</div>
               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                <li><a class="page-scroll wind">Golf Glimpse</a>
                                </li>
                                
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Golf Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co2.jpg" %>
                     </div>
                     <h5 class ="get">Fran Allison</h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
