<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall3 har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Basketball</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive animated bounceInLeft" src="assets/14.jpg" alt="">

                <hr>
<div class="well wellopa">
                
                <p class="lead hv" id: "1">The Sports Center boasts three full-sized, hardwood basketball courts for both pick-up games and individual shooting. Plus, with personal trainers available for basketball training and tailored conditioning workout programs, the indoor courts are a flexible workout and training space. Whether you're working on your foul shots or need a fun way to break a sweat, the Sports Center hardwood court infield is the perfect place to work on your game.</p>
               <h2 class="met" id: "2"> Basketball
Personal Training</h2>
<p>Looking to take your basketball game to the next level? The Sports Center features personal trainers who specialize in basketball conditioning workouts that will help you reach your peak performance on the basketball court.</p>
                 <h2 class="met" id: "3"> Best Leisure Time</h2>
                <p>
Whether you want to play a game of one-on-one with a friend, join a league, or enjoy leisure time taking jump shots with your son or daughter, the Sports Club extends its accommodations to meet your basketball needs in this wonderful, state-of-the-art facility. You can check the schedule and, chances are, you’ll find the best times to fit in with what works best for you and your family.</p>
                                                
               
                                     <hr>

                <!-- Posted Comments -->

               </div> 
</div>
               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                
                                <li><a  class="page-scroll wind">About</a>
                                </li>
                                <li><a  class="page-scroll wind">Training</a>
                                </li>
                                <li><a class="page-scroll wind">Leisure Time</a>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Basketball Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co3.jpg" %>
                     </div>
                     <h5 class ="get">Gilbert M. Anderson</h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
