<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall4 har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Swimming</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive animated bounceInLeft" src="assets/15.jpg" alt="">

                <hr>
<div class="well wellopa">
                
                <p class="lead hv" id: "1">We have fantastic 25 metre six lane swimming pool.</br>The pool is located on the third floor of the club.

We share the pool facility with the Institute for Sport, Physical Education and Health Sciences ( ISPEHS) and Pune University Sports Union (PUSU) clubs. Our available times are allocated to member lane swimming, included in the price of Sport & Exercise membership, and swimming lessons</p>
               <h2 class="met" id: "2"> Lane swimming</h2>
<p>During members lane swimming sessions the pool is divided up into slow, medium and fast lanes. To participate in member lane swimming you should be able to swim at least 2 lengths of the pool without stopping.</p>
                 <h2 class="met" id: "3"> Swimming Lessons</h2>
                <p>

                    We are  committed to providing quality swim lessons for all ages in our community. CA has an one-on-one lesson program and a leveled swimming lesson program. </p>
                                                <h2 class="met" id: "4">Pool Rules</h2>
                             <p>

                              1) Please walk at all times while in the pool area.</br>
2)We require children 7 years or younger to be accompanied by a responsible supervisor 14 years of age or older. If children 8 to 12 years of age pass the Safety First test administered by pool staff, they will be permitted to use the area without a responsible supervisor.</br>
3)For your safety, only United States Coast Guard approved personal flotation devices (life vests) may be used in the pool. Person’s using such devices are required to be accompanied, within arm’s reach, of a responsible supervisor.</br>
4)For your safety and the safety of others, admission to the pool will be denied to all persons having infectious diseases, inflamed eyes, colds, nasal or ear discharges, or any communicable disease of any kind. Persons with excessive sunburns or open sores will also be restricted from using the pool.</br>
5)Members are responsible for the actions of their guest</br>
Extended breath holding and other hypoxic workouts are not permitted.</br>
6)Spouting water and other unhygienic actions will not be permitted in the pool area.</br>
7)Inner tubes, water wings, or play equipment may not be used in the Main Pool. Wading Pool toys must be able to fit (fully inflated) into a 30”x30”x30” box.</br>
8)Unruly or inappropriate behavior will not be tolerated. Profane, loud or abusive behavior is prohibited.</br>
9)The Columbia Association cannot be held responsible for loss or damage to personal property of any kind. Please keep a close watch on personal items and report any suspicious behavior.</br>
10)Obey the lifeguards. Violators will be asked to leave the facility immediately without a refund.</br>
11)The Pool Manager is responsible for the strict enforcement of the rules and insuring the facility is operated in a safe and peaceful manner for all to enjoy. The Pool Manager has the authorization to temporarily deprive any member or guest use of this facility and may use discretion in the enforcement of these and other rules and regulations.</br></p>
                        <h2 class="met" id: "wa">Swim team</h2>
                <p>
Columbia Aquatics Association is a registered USA Swimming Club and a member of the Maryland Local Swim Committee. Our mission is to promote the sport of competitive swimming for all ages through positive motivation and the teaching of proper stroke technique. We strive to produce swimmers who are able to excel in competition at all levels from novice to national.</p>
                                
                             <hr>

               
                                     <hr>

                <!-- Posted Comments -->

               </div> 
</div>
               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                <li><a class="page-scroll wind">About</a>
                                </li>
                                <li><a class="page-scroll wind">Lane swimming</a>
                                </li>
                                <li><a  class="page-scroll wind">Swimming Lessons</a>
                                </li>
                                <li><a  class="page-scroll wind">Pool Rules</a>
                                </li>
                                <li><a class="page-scroll wind" >Swim team</a>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Swimming Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co4.jpg" %>
                     </div>
                     <h5 class ="get">Alvin Ailey</h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
