<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall5 har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Fitness Floor</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive  animated bounceInLeft" src="assets/16.png" alt="">

                <hr>
<div class="well wellopa">
                <h2 class="met" id: "2"> Strength Training</h2>
                <p class="lead hv" id: "1">This section is equipped with the latest VR and VR2 machines from Cybex, Precor Icarian, and Nautilus USA, which isolate targeted muscles for more specialized training. The location of the strength training machines is in such an area that all members / guest entering the gym feel the vigor and vitality of the place, and feel like working ou</p>
               <h2 class="met" id: "2"> The Free-Weight Area </h2>
<p>
                The free weights area is judiciously located in a separate section, which exudes a rough and tough ambience for serious bodybuilders. It has plate-loaded machines where plates, dumbbells and barbells are from Jade and Ivanko, USA. The dumbbells go upto 140 pounds</p>
                 <h2 class="met" id: "3">Personal Training</h2>
                <p>

                  Certified trainers are available to guide members through specialized programs. Personal trainers guide, motivate and make sure the member adheres to their program. The trainers are constantly updated on latest techniques through visiting Bluejay’s Associate Gym trainers.</p>
                                                <h2 class="met" id: "4">Spinning Studio</h2>
                             <p>

                                A good form of cardio workout, the spinning studio is fitted with spinning bikes. Spin away those calories to the rhythmic intensity of the instructor who guides you through various programs to increase heart rate and condition muscles while burning calories.</p>
                        <h2 class="met" id: "wa">Group Exercise / Aerobics</h2>
                <p>
Group exercise incorporates dance and aerobics. Work out to the beats of Hollywood and Bollywood music. Increases flexibility, balance, strength and stamina. Improves muscle co-ordination and added grace in movement and posture. Classes in Power Yoga, Cross Training, Cardio- Salsa, Bollywood Blast, Kick Boxing, Taekwondo, Body Toning, Challenge, Classic Aerobics & step, Circuit training, Functional training and Pilates Special classes for seniors and kids too.</p>
                                <h2 class="met" id: "6">Fitness Assessment and Testing</h2>
                                                <p>
                       A full body fitness assessment including body measurement, body fat percentage and blood pressure is conducted before the member starts his workout. Then some tests are carried out to assess his physical condition. This helps the trainer prepare a schedule card for him keeping in mind his fitness levels and goals.</p>
                             <hr>

               
                                     <hr>

                <!-- Posted Comments -->

               </div> 
</div>
               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                <li><a class="page-scroll wind">Strength Training</a>
                                </li>
                                <li><a class="page-scroll wind">The Free-Weight Area</a>
                                </li>
                                <li><a  class="page-scroll wind">Personal Training</a>
                                </li>
                                <li><a  class="page-scroll wind">Spinning Studio</a>
                                </li>
                                <li><a class="page-scroll wind">Group Exercise / Aerobics</a>
                                </li>
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Fitness Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co5.jpg" %>
                     </div>
                     <h5 class ="get">Louisa May Alcot</h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
