<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall6 har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Pool Zone</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive animated bounceInLeft" src="assets/cc.jpg" alt="">

                <hr>
<div class="well wellopa">
                
                <p class="lead hv" id: "1">Our Club now is privy to one of the city’s best dressed billiard rooms apart from regularly hosting numerous local tournaments. The club offers its patrons the smoothes clues to pocketing the rights cues.we have 6 tables avialable.</p>
               <h2 class="met" id: "2"> Lockers</h2>
<p>
               We also have cue lockers for those members who wish to store their personal cue at the club. There is a small annual charge for these, and should you wish to have your name added to the waiting list please email the club or drop a note to the club secretary.</p>
                 <h2 class="met" id: "3"> History Of Snooker</h2>
                <p>

                    It is commonly accepted that snooker originated in the later half of the 19th century. Billiards had been a popular activity amongst British Army officers stationed in India, and variations on the more traditional billiard games were devised. One variation, devised in the officers' mess in Jabalpur during 1874/75, was to add coloured balls in addition to the reds and black which were used for pyramid pool and life pool. The word snooker also has military origins, being a slang term for first-year cadets or inexperienced personnel. One version of events states that Colonel Sir NevilleChamberlain of the Devonshire regiment was playing this new game when his opponent failed to pot a ball and Chamberlain called him a snooker. It thus became attached to the billiards game now bearing its name as inexperienced players were labelled as snookers.</p>
                                              

                <!-- Posted Comments -->

               </div> 
</div>
               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                <li><a class="page-scroll wind">About</a>
                                </li>
                                <li><a class="page-scroll wind">Locker Scheme</a>
                                </li>
                                <li><a  class="page-scroll wind">History</a>
                                </li>
                                
                                
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Snooker Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co6.jpg" %>
                     </div>
                     <h5 class ="get">Buzz Aldrin</h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
