<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Blog Post - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/blog-post.css" rel="stylesheet">
</head>

<body class=" blogwall7 har">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <!-- Blog Post Content Column -->
            <div class="col-lg-8">

                <!-- Blog Post -->

                <!-- Title -->
                <h1 class="get">Badminton</h1>

               

                <hr>
                <!-- Preview Image -->
                <img class="img-responsive animated bounceInLeft" src="assets/c.jpg" alt="">

                <hr>
<div class="well wellopa">
                
                <p class="lead hv" id: "1">We have 10 permanent courts of which 6 are synthetic hova, and the rest wooden. The stadium itself has a seating capacity of about 3000. These courts, coupled with the state of the art gym and health club, offer the best of facilities for fostering and training of Badminton players in India. </p>
               <h2 class="met" id: "2"> Club Nights</h2>
<p>
                Club nights take place on Thrusday evenings from 7pm-9pm and on Sunday evenings from 6pm -8pm. They are open to everyone so if you fancy meeting some like minded people for a game of Badminton, this is the place to come!</p>
                 <h2 class="met" id: "3"> Badminton Leagues</h2>
                <p>

                    There are internal leagues for everyone which are run through the Bluejay Badminton Club and provide an excellent place to find new people to play. Currently we have the following leagues for you to join:

                        Evening Badminton leagues 16 divisions and 84 players
                        Lunchtime Badminton Leagues 5 Divisions and 17 players
                         

                        To join please contact Head Badminton Coach James Powley.</p>
                                             
                        <h2 class="met" id: "wa">Friday Morning Juniors</h2>
                <p>

                                Starting again in Autumn, these sessions are for children aged 4 onwards and are based around the ABC’s of sport (Agility, Balance & Coordination). They have different skills and levels to work towards and the children will receive certificates and bands on completing the different levels. </p>
                                
                             <hr>

               
                                     <hr>

                <!-- Posted Comments -->

               </div> 
</div>
               
            <!-- Blog Sidebar Widgets Column -->
            <div class="col-md-4 upar">

                <!-- Blog Categories Well -->
                <div class="well">
                    <h4 class="fire">Contents</h4>
                    <div class="row">
                        <div class="col-lg-8">
                            <ul class="list-unstyled ">
                                <li><a class="page-scroll wind" href="#" >About</a>
                                </li>
                                <li><a class="page-scroll wind" href="#" >Club Nights</a>
                                </li>
                                <li><a  class="page-scroll wind" href="#">Badminton Leagues</a>
                                </li>
                                <li><a  class="page-scroll wind" href="#">Friday Morning Juniors</a>
                                </li>
                               
                            </ul>
                        </div>
                        
                    </div>
                    <!-- /.row -->
                </div>

                <!-- Side Widget Well -->
                <div class="well">
                    <h4>Badminton Coach</h4>
                    <div class="thumbnail si">
                     <%= image_tag "co7.jpg" %>
                     </div>
                     <h5 class ="get">Ethan Allen </h5>
                </div>

            

        </div>
    

       

    </div>
   
    
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>

</body>

</html>
