<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Freelancer - Start Bootstrap Theme</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/modern-business.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index bacwall">

   
       

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive hvr-wobble-vertical" src="assets/profile.png" alt="">
                    <div class="intro-text">
                        <span class="name">Booking</span>
                        <hr class="star-light">
                        <span class="skills">Use Our Club Space.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Facilites</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
               
                <div class="col-xs-6 portfolio-item gess">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                            <h3>Birthday Parties </h3>
                            </br>
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/cake.png" class="img-responsive wow fadeInDown" alt="">
                    </a>
                </div>
                <div class="col-xs-6 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                             <h3>Weddings </h3>
                            </br>
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/circus.png" class="img-responsive wow fadeInDown" alt="">
                    </a>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                             <h3>Tournament & Games </h3>
                            </br>
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/game.png" class="img-responsive wow fadeInUp" alt="">
                    </a>
                </div>
                <div class="col-sm-6 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                             <h3>Movies Shooting </h3>
                            </br>
                                <i class="fa fa-search-plus fa-3x"></i>
                            </div>
                        </div>
                        <img src="assets/portfolio/was.jpg" class="img-responsive wow fadeInUp" alt="">
                    </a>
                </div>
                
            </div>
        </div>
    </section>

    <!-- About Section -->
    <!-- <section class="success" id="about"> -->
        <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
             <li data-target="#myCarousel" data-slide-to="2"></li>
              <li data-target="#myCarousel" data-slide-to="3"></li>
               <li data-target="#myCarousel" data-slide-to="4"></li>

            
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill" style="background-image:url('assets/mar.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Marriage Hall</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/mar1.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Fashion Show</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/mar2.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Happy Customers:)</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/mar3.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Snooker Battle Contest</h2>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="background-image:url('assets/mar5.jpg');"></div>
                <div class="carousel-caption">
                    <h2 class = "coa">Lounge Area</h2>
                </div>
            </div>
           
         
        
        
        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>
    <!-- </section> -->

   

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
       <div id="portfolioModal1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content cole1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        
      </div>
      <div class="modal-body">
      <h4>Birthday Parties</h4>
      <p>
      Let us make your  birthday delightful and memorable so you can enjoy the moment, too! We have lots of different themes and activities for you to choose from, or create your own and we'll do the rest. Each party package is unique and can be just the way you envisioned it.Each party lasts up to two hours and includes: Meet and Greet, Party Activity (one hours), and Snacks and Beverages. Pizza, cake and opening of presents can be added.
      </p> 
      <h4>Booking Your Party</h4>
      <p>
For the best selection of dates and times, we highly recommend at least three weeks' notice when scheduling a birthday party. Food options are available through our on-site restaurant and catering services.

To book your party, contact the Birthday Party Coordinator at (925) 942-6329  </p> </div>
     
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
    <div id="portfolioModal2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content cole2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        <h4>Weddings & Functions</h4>
      </div>
      <div class="modal-body">
      
      <p>We Love a good wedding that much, we decided to get a Licence
We’ve witnessed hundreds of wonderful weddings, we’ve even shed a few tears and now we’re proud to say we’re the only location in Middleton to have an official Wedding Licence. Our facilities are unique, a beautiful pavilion overlooking our award winning ground, a restaurant that produces some of the best food in the area, quality wines, beers and spirits, entertainment, a marquee, a wedding planner, flowers, cakes or anything you desire to make this the best day   ever. Please call to discuss your ideas, great or small, and we’ll try not to get too excited.</p>
    </div>
     
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
     <div id="portfolioModal3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content cole3">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        
      </div>
      <div class="modal-body">
      <h4>Tornaments(National & International)</h4>
       <p>
      Nearly every sport is offered in our club in some form or another making for a wealth of opportunity, experience, expertise, and places to play. A handful of sports have paid personnel, but most owe their existence to the parents and community members who volunteer as coaches, managers, scorekeepers, board members, and a host of other essential positions. We continue to volunteer because of our strong sense of community, a desire to help others, the friendships we have formed, for the happy memories and the desire to make our club a better place.
      </p>
         <p>
For the best selection of dates and times, we highly recommend at least three weeks' notice when scheduling a tournaments. 

To book your Date, contact the  Coordinator at (925) 942-6329  </p> 
    </div>
     
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
     <div id="portfolioModal4" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content cole4">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
        
      </div>
      <div class="modal-body">
      <h4>Movies Shooting</h4>
    <p> We Provide a good spot from movie shooting that much, we decided to get a Licence.
We’ve witnessed hundreds of wonderful movie makings, we’ve even enjoyed a few hard moments and now we’re proud to say we’re the only location in Pune to have an official Movie Shooting Sports CLub Licence. Our facilities are unique, a beautiful pavilion overlooking our award winning ground, a restaurant that produces some of the best food in the area, quality wines, beers and spirits, entertainment, a marquee, or anything you desire . Please call to discuss your ideas, great or small, and we’ll try not to get too excited.</p>
    </div>
     
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpwowHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
     <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>
 <script>
    $('.carousel').carousel({
        interval: 2500 //changes the speed
    })
    </script>
</body>

</html>
