 <!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Thumbnail Gallery - Start Bootstrap Template</title>

    
    <link href="css/grayscale.css" rel="stylesheet">
     <link href="css/hover.css" rel="stylesheet">
</head>

   <div id="contact" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content bk-one">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Squash Gallery</code></h4>
                </div>
                <div class="modal-body">
     <!-- <body id="gallery"> -->
 		<!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Squash/a.jpg">
               <img class="img-responsive " src="../assets/Squash/a.jpg" alt="">
               </a>
               </br>
                <a href="assets/Squash/b.jpg">
               <img class="img-responsive" src="../assets/Squash/b.jpg" alt="">
                 </a>

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Squash/c.jpg">
               <img class="img-responsive" src="../assets/Squash/c.jpg" alt=""></a>
               </br>
               <a href="assets/Squash/d.jpg">
               <img class="img-responsive" src="../assets/Squash/d.jpg" alt=""></a>

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Squash/e.jpg">
               <img class="img-responsive" src="../assets/Squash/e.jpg" alt=""></a>
               </br>
               

            </div>
    	</div>    
    </div>    
      </div>
      <div class="modal-footer">
  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 <div id="contact1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bk-two">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Tennis Gallery</code></h4>
                </div>
                <div class="modal-body">
      <div class="container">

        <div class="row">
         <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
         <a href="assets/Tennis/a.jpg">
               <img class="img-responsive" src="../assets/Tennis/a.jpg" alt="">
               </a>
               </br>
                <a href="assets/Tennis/b.jpg">
               <img class="img-responsive" src="../assets/Tennis/b.jpg" alt="">
               </a>

            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
             <a href="assets/Tennis/e.jpg">
               <img class="img-responsive" src="../assets/Tennis/e.jpg" alt=""></a>
               </br>
                <a href="assets/Tennis/f.jpg">
                 <img class="img-responsive" src="../assets/Tennis/f.jpg" alt="">
                 </a>
               
               </div>
          </div>
    </div>
     
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="contact2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bk-three">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Golf Gallery</code></h4>
                </div>
                <div class="modal-body">
     <div class="container">

        <div class="row">
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
             <a href="assets/Golf/a.jpg">
               <img class="img-responsive" src="../assets/Golf/a.jpg" alt=""></a>
               </br>
               <a href="assets/Golf/b.jpg">
               <img class="img-responsive" src="../assets/Golf/b.jpg" alt="">
               </a>

            </div>
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Golf/c.jpg">
               <img class="img-responsive" src="../assets/Golf/c.jpg" alt=""></a>
               </br>
               <a href="assets/Golf/d.jpg">
               <img class="img-responsive" src="../assets/Golf/d.jpg" alt=""></a>

            </div>
           

            </div>
            </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 <div id="contact3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bk-four">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Basketball Gallery</code></h4>
                </div>
                <div class="modal-body">
     <div class="container">

        <div class="row">

          
        

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Bb/a.jpg">
               <img class="img-responsive" src="../assets/Bb/a.jpg" alt=""></a>
               </br>
               <a href="assets/Bb/b.jpg">
               <img class="img-responsive" src="../assets/Bb/b.jpg" alt=""></a>

            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
              <a href="assets/Bb/c.jpg">
               <img class="img-responsive" src="../assets/Bb/c.jpg" alt=""></a>
               </br>
                <a href="assets/Bb/d.jpg">
               <img class="img-responsive" src="../assets/Bb/d.jpg" alt=""></a>

            </div>
             
            </div>
            </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 <div id="contact4" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bk-five">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Swim Gallery</code></h4>
                </div>
                <div class="modal-body">
     <div class="container">

        <div class="row">

            

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
             <a href="assets/Swim/a.jpg">
               <img class="img-responsive" src="../assets/Swim/a.jpg" alt=""></a>
               </br>
               <a href="assets/Swim/b.jpg">
               <img class="img-responsive" src="../assets/Swim/b.jpg" alt=""></a>

            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
             <a href="assets/Swim/c.jpg">
               <img class="img-responsive" src="../assets/Swim/c.jpg" alt=""></a>
               </br>
               <a href="assets/Swim/d.jpg">
               <img class="img-responsive" src="../assets/Swim/d.jpg" alt=""></a>

            </div>
            </div>
            </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 <div id="contact5" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bk-six">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Fitness Gallery</code></h4>
                </div>
                <div class="modal-body">
     <div class="container">

        <div class="row">

          
        

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Fit/a.jpg">
               <img class="img-responsive" src="../assets/Fit/a.jpg" alt=""></a>
               </br>
               <a href="assets/Fit/b.jpg">
               <img class="img-responsive" src="../assets/Fit/b.jpg" alt=""></a>

            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
             <a href="assets/Fit/c.jpg">
               <img class="img-responsive" src="../assets/Fit/c.jpg" alt=""></a>
               </br>
               <a href="assets/Fit/d.jpg">
               <img class="img-responsive" src="../assets/Fit/d.jpg" alt=""></a>

            </div>
            </div>
            </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="contact6" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bk-seven">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Snooker Gallery</code></h4>
                </div>
                <div class="modal-body">
     <div class="container">

        <div class="row">

          
        

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Bill/a.jpg">
               <img class="img-responsive" src="../assets/Bill/a.jpg" alt=""></a>
               </br>
               <a href="assets/Bill/b.jpg">
               <img class="img-responsive" src="../assets/Bill/b.jpg" alt=""></a>

            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
             <a href="assets/Bill/c.jpg">
               <img class="img-responsive" src="../assets/Bill/c.jpg" alt=""></a>
               </br>
               <a href="assets/Bill/d.jpg">
               <img class="img-responsive" src="../assets/Bill/d.jpg" alt=""></a>

            </div>
            </div>
            </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 <div id="contact7" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content bk-eight">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">X</button>
                    <h4 class="modal-title"><code>Badminton Gallery</code></h4>
                </div>
                <div class="modal-body">
     <div class="container">

        <div class="row">

           
        

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
            <a href="assets/Bad/a.jpg">
               <img class="img-responsive" src="../assets/Bad/a.jpg" alt=""></a>
               </br>
               <a href="assets/Bad/b.jpg">
               <img class="img-responsive" src="../assets/Bad/b.jpg" alt=""></a>

            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
             <a href="assets/Bad/c.jpg">
               <img class="img-responsive" src="../assets/Bad/c.jpg" alt=""></a>
               

            </div>
            </div>
            </div>
      </div>
      <div class="modal-footer">
       
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
 


<body class = "gallery">
 <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-lg-12">
                <h1 class="page-header ge">Gallery</h1>
            </div>
           

            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
           
            <div>
               <a data-target="#contact" data-toggle = "modal" class="thumbnail animated bounceInLeft " > <img class="img-responsive" src="../assets/Squash/a.jpg" alt=""></a>
               </div>
            </div>
            
            <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
               <a data-target="#contact1" data-toggle = "modal" class="thumbnail animated bounceInLeft " > <img class="img-responsive" src="../assets/Tennis/d.jpg" alt=""></a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
               <a data-target="#contact2" data-toggle = "modal" class="thumbnail animated bounceInRight  " > <img class="img-responsive" src="../assets/Golf/a.jpg" alt=""></a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
               <a data-target="#contact3" data-toggle = "modal" class="thumbnail  animated bounceInRight "  > <img class="img-responsive" src="../assets/Bb/a.jpg" alt=""></a>
            </div>

             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
               <a data-target="#contact4" data-toggle = "modal" class="thumbnail animated bounceInLeft " > <img class="img-responsive" src="../assets/Swim/a.jpg" alt=""></a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
               <a data-target="#contact5" data-toggle = "modal" class="thumbnail animated bounceInLeft " > <img class="img-responsive" src="../assets/Fit/a.jpg" alt=""></a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
               <a data-target="#contact6" data-toggle = "modal" class="thumbnail  animated bounceInRight " > <img class="img-responsive" src="../assets/Bill/c.jpg" alt=""></a>
            </div>
             <div class="col-lg-3 col-md-4 col-xs-6 thumb" >
               <a data-target="#contact7" data-toggle = "modal" class="thumbnail animated bounceInRight " > <img class="img-responsive" src="../assets/Bad/b.jpg" alt=""></a>
            </div>
           
           
           

        <hr>

        

    </div>

    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>
     <script src="js/classie.js"></script>

    
   <!-- // <script src="js/bootstrap.min.js"></script> -->

</body>


</html>
