<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   
    <title>Pricing</title>
    <!-- BOOTSTRAP STYLE SHEET -->
    <link href="css/bootstrap.css" rel="stylesheet" />
    <link href="css/animate.min.css" rel="stylesheet">
    <!-- CUSTOM STYLES -->
    <link href="css/style.css" rel="stylesheet" />
</head>
 
                            
                   
                            
     
  
<div id="contact" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content oo">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><large>X</large></button>
        <h3 class="modal-title">LIFE MEMBERSHIP</h3></br>
        
      </div>
      <div class="modal-body">
    <p>
     DOCUMENTS REQUIRED FOR THE ABOVE MEMBERSHIP:</br>
     Copy of Photo ID Proof of of the intending Members.</br>
    Copy of Current Address Proof of of the Intending Members.</br>
    Copy of Marriage Certificate for Spouse.</br>
    Copy of Birth Certificate for Children below 18 years.</br>

    4 Latest Color Photograph for each (Size 25 x 30 mm)
     </p>
 <p>
   NOTE :</br>
    The original copy of the above documents are required to be produced for verification purpose.</br>
    Discretion to grant such Membership lies with the Governing Council.</br>
    Service Tax 12.36% (As Applicable).</br>
    </p>
    <p>
    To become a member, simply download a form and either pop in to the Club or post it to us. Please make cheques payable to “Bluejay Sports Club” Alternatively call in to the club any time, and we’ll be more than happy to help. 
    </p>
        </div>    
    
      <div class="modal-footer">
      
  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="contact1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content oo1">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><large>X</large></button>
        <h3 class="modal-title">WARD MEMBERSHIP</h3>
        </br>
       
      </div>
      <div class="modal-body">
        <p>
   WARD MAJOR: </br>
    Children above the age of 18 years, of the existing Life Members shall be eligible as Ward Member - Major.</br>
    Entrance fee for such Membership shall be 50% of the Prevailing Life Membership fee. 4 lacs + Service Tax 12.36% (As Applicable).</br>
   WARD MINOR: </br>
    Children below the age of 18 years, of the existing Life Members shall be eligible as Ward Member –Minor.</br>
    Entrance fee for such Membership shall be 30% of the Prevailing Life Membership fee. 2,25,000 + Service Tax 12.36% (As Applicable).</br>
   DOCUMENTS REQUIRED FOR THE ABOVE MEMBERSHIP:</br>
1.  
Copy of Birth Certificate of the Intending Member.</br>

2.  
Copy of Photo ID Proof of the Intending Member.</br>

3.  
Copy of Current Address Proof of the Intending Member.</br>

4.  
Copy of Marriage Certificate for Spouse. (For Ward Member – Major).</br>

5.  Copy of Birth Certificate for Children below 18 years. (For Ward Member – Major).</br>
6.  4 Latest Color Photograph for each (Size 25 x 30 mm).</br>
   NOTE:</br>
1.  Ward Members will not be charged Annual Subscription till the age of 18 years.</br>
2.  Ward Members will not be entitled to vote till the age of 18 years.</br>
3.  Ward Membership upto the age of 18 years will not be transferable.</br>
4.  The Original copies of the above documents are required to be produced for verification purpose.</br>
</p>
 <p>
    To become a member, simply download a form and either pop in to the Club or post it to us. Please make cheques payable to “Bluejay Sports Club” Alternatively call in to the club any time, and we’ll be more than happy to help. 
    </p>
        </div>    
    
      <div class="modal-footer">
  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="contact2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content oo2">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><large>X</large></button>
       <h3 class="modal-title">CORPORATE MEMBERSHIP</h3></br>
        
      </div>
      <div class="modal-body">
      <p>
    FEES FOR CORPORATE MEMBERSHIP OF OUR CLUB ARE AS FOLLOWS: </br>
  These Cards will be valid till the existence of the Company.</br>
  The Company is entitled to change such nominees not earlier than one year.</br>
  The Cardholders of the Corporate Membership shall be exempt from payment of Charges for games and sports and Annual   Subscription.</br>
  Under Corporate Membership facilities like Swimming, Badminton, Squash, Table Tennis, Carrom and Chess are included.</br>
 
    One Membership Card :   Rs.11.00 lacs + Service Tax 12.36% (As Applicable)</br>
    Two Membership Cards    :   Rs.20.00 lacs + Service Tax 12.36% (As Applicable)</br>
    Three Membership Cards  :   Rs.30.00 lacs + Service Tax 12.36% (As Applicable)</br>
    Four Membership Cards   :   Rs.36.50 lacs + Service Tax 12.36% (As Applicable)</br>
    (Membership Card will be for Member, Spouse & Children below 18 years)</br>
  FROM COMPANY: </br>
    A letter from Company stating that you are applied for Corporate Membership – Original</br>
    A letter of confirmation on Company letter stating that you are giving corporate membership to Mr. __________ - Original</br>
    Pan Card</br>
    Address Proof</br>
    Resolution for Membership</br>
    Certificate of Incorporation/ Partnership Deed/ Equivalent Document</br>
  FROM NOMINEE:</br>
    Company I-Card of the intending member.</br>
    Photo ID Proof of the Intending Member.</br>
    Current Address Proof of the Intending Member.</br>
    Marriage Certificate for Spouse</br>
    Birth Certificate for Children below 18 years.</br>
    4 Colour photographs of each Member, Spouce & Children.</br>
   NOTE :</br>
    The original copy of the above documents are required to be produced for verification purpose.</br>
    Self Attested Xerox copy for Records & Original for Verification</br>
    </p>
     <p>
    To become a member, simply download a form and either pop in to the Club or post it to us. Please make cheques payable to “Bluejay Sports Club” Alternatively call in to the club any time, and we’ll be more than happy to help. 
    </p>
        </div>    
    
      <div class="modal-footer">
  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>
<div id="contact3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content oo3">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><large>X</large></button>
       <h3 class="modal-title">YEARLY MEMBERSHIP</h3></br>
        
      </div>
      <div class="modal-body">
      <p>
   DOCUMENTS REQUIRED</br>
1.  Form Duly Filled up.</br>
2.  Latest Colour Photographs of Specific Size (25 X 30 mm) – 3 Nos.</br>
3.  Xerox copy of Photo Identity (Passport, Driving Licence, Election Card, Pan Card, Company/College/School I - Card)</br>
4.  Current Address Proof. (Ration Card, Electricity/Phone Bill, Society Bill, Company Letter, Bank Manager's Certificate/Passbook</br>
5.  For Senior Citizens - Doctors Fitness Certificate & Senior Citizen I-Card</br>
6.  Marriage Certificate for Spouse.</br>
7.  Birth Certificate for children.</br>
     
NOTE: </br>
    Service Tax 12.36% (As Applicable).</br>
    Discretion to grant such Membership lies with the Governing Council.</br>
    Children above 12 years can be enrolled as Single only with written consent from their parents.</br>
    Yearly Membership is applicable for children and Parents of Life Members Only</br>
    The Original copies of the above documents are required to be produced for verification purpose.</br>
    </p>
     <p>
    To become a member, simply download a form and either pop in to the Club or post it to us. Please make cheques payable to “Bluejay Sports Club” Alternatively call in to the club any time, and we’ll be more than happy to help. 
    </p>
        </div>    
    
      <div class="modal-footer">
  
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div>

<body class = "member">
   

    <div class="container" >
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="break well hvr-wobble-to-top-right animated bounceInLeft">Membership</h2>
                <hr/>
                <br />
            </div>
        </div>

        <div class="row db-padding-btm db-attached">
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper animated swing">
                    <div class="db-pricing-eleven db-bk-color-one">
                        <div class="price">
                            ₹7 lacs
                            </br>
                            
                        </div>
                        <div class="type">
                            LIFE MEMBERSHIP
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>FOR MEMBERS,SPOUSE,CHILDREN(age<18) </li>
                            <li><i class="glyphicon glyphicon-time"></i>ACCESS TO ALL FACILITIES</li>
                            <li><i class="glyphicon glyphicon-trash"></i>LOCKER + INSTRUCTOR</li>
                        </ul>
                        <div class="pricing-footer">

                              <a data-target="#contact" data-toggle = "modal" class="btn db-button-color-square btn-lg thumbnail" > BOOKING DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper animated bounceInUp">
                    <div class="db-pricing-eleven db-bk-color-two popular">
                        <div class="price">
                            ₹4 lacs
                            
                        </div>
                        <div class="type">
                            WARD MEMBERSHIP
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>FOR CHILDREN OF THE EXISTING LIFE MEMBER </li>
                            <li><i class="glyphicon glyphicon-time"></i>ALL FACILITES OF LIFE MEMBERSHIP. </li>
                            <li><i class="glyphicon glyphicon-trash"></i>TWO CATEGORIES-MAJOR AND MINOR</li>
                        </ul>
                        <div class="pricing-footer">

                             <a data-target="#contact1" data-toggle = "modal" class="btn db-button-color-square btn-lg thumbnail" > BOOKING DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper animated bounceInDown">
                    <div class="db-pricing-eleven db-bk-color-three">
                        <div class="price">
                            ₹11 lacs
                            <small>for 1 member</small>
                        </div>
                        <div class="type">
                            CORPORATE MEMBERSHIP
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>MAJOR FACILITIES PROVIDED </li>
                            <li><i class="glyphicon glyphicon-time"></i>4 DIVISON OF MEMBERSHIP </li>
                            <li><i class="glyphicon glyphicon-trash"></i>INSTRUCTOR PROVIDED</li>
                        </ul>
                        <div class="pricing-footer">

                            <a data-target="#contact2" data-toggle = "modal" class="btn db-button-color-square btn-lg thumbnail" > BOOKING DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                <div class="db-wrapper">
                    <div class="db-pricing-eleven db-bk-color-six animated swing">
                        <div class="price">
                            ₹40,000
                            <small>SINGLE</small>
                        </div>
                        <div class="type">
                            YEARLY MEMBERSHIP
                        </div>
                        <ul>

                            <li><i class="glyphicon glyphicon-print"></i>ALL SERVICES AND FACILITIES </li>
                            <li><i class="glyphicon glyphicon-time"></i>PERSONAL INSTRUCOTR </li>
                            <li><i class="glyphicon glyphicon-trash"></i>FREE NEWSLETTER SUBSCRIPTION</li>
                        </ul>
                        <div class="pricing-footer">

                             <a data-target="#contact3" data-toggle = "modal" class="btn db-button-color-square btn-lg thumbnail" > BOOKING DETAILS</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
 
    <script src="js/jquery-1.11.1.js"></script>
    <!-- REQUIRED BOOTSTRAP SCRIPTS -->
    <script src="js/bootstrap.js"></script>

</body>
</html>
