<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<title>Storystrap Template</title>
		<meta name="generator" content="Bootply" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/style1.css" rel="stylesheet">
		<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet">
		<!--[if lt IE 9]>
			<script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->
		<link href="css/styles.css" rel="stylesheet">
	</head>
	<body class = "coverr">
<header class="business-header animated rollIn">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="tagline">Testimony</h1>
                </div>
            </div>
        </div>
    </header>
  
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="top-spacer"> </div>
      </div>
    </div> 
  </div><!-- /cont -->
  
</div>


<div class="container">
  <div class="row">
    
    <div class="col-md-12"> 
      
      <div class="panel">
        <div class="panel-body">
          
          
          
          <!--/stories-->
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title " href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/58.jpg" style="width:100px;height:100px" class="img-circle wow tada"></a>
            </div>
            <div class="col-md-10 col-sm-9">
             
              <div class="row">
                <div class="col-xs-9">
                  <p>
                  I would highly recommend Bluejay Sports to anyone looking to Join Sports Club. It will be a right choice, no doubt."
                  </p>
                  <h4><span class="label label-default">-Derek Niepomnik</span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/women/56.jpg" style="width:100px;height:100px " class="img-circle wow tada"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              
              <div class="row">
                <div class="col-xs-9">
                 <p> “The group training and personal coaching at this Multisport have definitely helped my performance through Freestyle Basketball Techniques. The group sessions are motivating and fun, and I’m finally training smarter, using the best techniques and maximizing my time to the fullest. In matches, my running speed and endurance have improved, but even better, the attention to cross-training and injury prevention have kept me healthy and injury-free this season!
                  </p>
                  <h4><span class="label label-default">-Hamid Mehreioskouei</span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
                  
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="http://api.randomuser.me/portraits/thumb/men/29.jpg" style="width:100px;height:100px" class="img-circle wow tada"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              
              <div class="row">
                <div class="col-xs-9">
                     <p>
                  “When I first connected with this sports club, I did not have any swim background.  Alvin was encouraging and started the process off with some basic concepts.  I started to see improvement within a few months and significant improvement by the end of the season.  I really appreciated Alvin’s patience, training approach and understanding of proper swim technique.”
                  </p>
                  <h4><span class="label label-default">-DAN LINDSEY</span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>

          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title wow tada" href="#"><img alt="" src="assets/cust1.jpg" style="width:100px;height:100px" class="img-circle wow tada"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              
              <div class="row">
                <div class="col-xs-9">
                     <p>
                  “Training with Coach Louisa is one of the best things I’ve ever done for myself.  When I look in the mirror, I see muscles I’ve never seen before and two inches  of fat have disappeared from my waistline. I am 46 and I am more fit then I’ve ever been, and I have no doubt I will see significant improvements in the upcoming seasons.”
                  </p>
                  <h4><span class="label label-default">-Dwayne Cruz</span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          
          <div class="row">    
            <br>
            <div class="col-md-2 col-sm-3 text-center">
              <a class="story-title" href="#"><img alt="" src="assets/cust2.jpg" style="width:100px;height:100px" class="img-circle wow tada"></a>
            </div>
            <div class="col-md-10 col-sm-9">
              
              <div class="row">
                    <p>
                  “Steve of Tennis Dept. has been instrumental in keeping my fitness dialed despite a busy work schedule.  Going from full-time Tennis Player to full-time office worker is tough for anyone, but I’ve been able to keep my fitness and results up thanks to Steve’s intuitive planning and smart training.”
                  </p>
                  <h4><span class="label label-default">-JORDAN KAHLENBERG </span></h4></div>
                <div class="col-xs-3"></div>
              </div>
              <br><br>
            </div>
          </div>
          <hr>
          <!--/stories-->
          
        </div>
      </div>
                                                                                       
	                                                
                                                      
   	</div><!--/col-12-->
  </div>
</div>
                                                
                                                                                
<hr>



 <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>


		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script src="js/bootstrap.min.js"></script>
	</body>
</html>