<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
   
    <title>Timetable</title>
      <link href="css/style.css" rel="stylesheet">

    
</head>
<body class = "wap">
<!--  -->
		<div class="container">
		            <div class="row">
		                <div class="col-lg-12 text-center">
		                    <h2>Schedule</h2>
		                    <hr class="star-primary">
		                </div>
		            </div>
            <div class="row">
            
                        <div class="col-xs-6 col-sm-3 text-center">
                           <a href="#largeModal" class="portfolio-link " data-toggle="modal">
                            <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Squash/a.jpg" alt=""></a>
                            <h4>Squash
                                
                            </h4>

                            
                        </div>
                        <div class="col-xs-6 col-sm-3 text-center">
                           <a href="#largeModal1" class="portfolio-link" data-toggle="modal">  <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Tennis/d.jpg" alt=""></a>
                            <h4>Tennis
                                
                            </h4>
                            
                        </div>
                        <div class="col-xs-6 col-sm-3 text-center">
                            <a href="#largeModal2" class="portfolio-link" data-toggle="modal"> <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Golf/a.jpg" alt=""></a>
                            <h4>Golf
                                
                            </h4>
                            
                        </div>
                        <div class="col-xs-6 col-sm-3 text-center">
                           <a href="#largeModal3" class="portfolio-link" data-toggle="modal">  <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Bb/a.jpg" alt=""></a>
                            <h4>Basketball
                                
                            </h4>
                            
                        </div>
                        <div class="col-xs-6 col-sm-3 text-center">
                            <a href="#largeModal4" class="portfolio-link" data-toggle="modal"> <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Swim/a.jpg" alt=""></a>
                            <h4>Swimming
                                
                            </h4>
                            
                        </div>
                        <div class="col-xs-6 col-sm-3 text-center">
                            <a href="#largeModal5" class="portfolio-link" data-toggle="modal"> <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Fit/a.jpg" alt=""></a>
                            <h4>Fitness Floor
                                
                            </h4>
                            
                        </div>
                        <div class="col-xs-6 col-sm-3 text-center">
                          <a href="#largeModal6" class="portfolio-link" data-toggle="modal">   <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Bill/a.jpg" alt=""></a>
                            <h4>Snooker
                                
                            </h4>
                            
                        </div>
                        <div class="col-xs-6 col-sm-3 text-center">
                            <a href="#largeModal7" class="portfolio-link" data-toggle="modal"> <img class="img-circle img-responsive img-center hvr-float-shadow animated flipInX" src="assets/Bad/a.jpg" alt=""></a>
                            <h4>Badminton
                                
                            </h4>
                            
                        </div>

            </div>

            <hr>
		</div>
<!--  -->



<div class="bs-example">
    
 
    <div id="largeModal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Squash Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>06:00 - 10:00</br>
				Members’ Squash</br></br>
				12:30 - 15:00</br>
				Members’ Squash</br></br>
				15:00 - 16:30</br>
				Family Squash</br></br>
				16:30 - 21:00</br>
				Members’ Squash </br></td>
				<td>
				06:00 - 08:45
Members’ Squash</br></br>
08:45 - 09:30</br>
Joint Squash</br>
09:30 - 10:00</br>
Members’ Squash</br></br>
12:30 -14:00</br>
Members’ Squash</br></br>
14:00 - 15:00</br>
Joint Squash</br></br>
15:00 - 16:30</br>
Family Squash</br></br>
16:30 - 21:00</br>
Members’ Squash</br></br>
				</td>
				<td>
				06:00 - 09:00</br>
Members’ Squash</br></br>
09:00 - 10:00</br>
Joint Squash</br></br>
12:30 -14:00</br>
Members’ Squash</br></br>
14:00 - 15:00</br>
Joint Squash</br></br>
15:00 - 16:30</br>
Family Squash</br></br>
16:30 - 19:30</br>
Members’ Squash</br></br>
19:30 - 21:00</br>
Senior Only Joint
Squash</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’ Squash</br></br>
15:00 - 16:30</br>
Family Squash</br></br>
16:30 - 19:00</br>
Members’ Squash</br></br>
19:00 - 21:00</br>
Senior Only Joint
Squash </br></br>
				</td>
				<td>
				06:00 - 15:00</br>
Members’ Squash</br></br>
15:00 - 16:30</br>
Family Squash</br></br>
16:30 - 19:00</br>
Members’ Squash</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’ Squash</br></br>
09:30 - 11:00</br>
Family Squash</br></br>
11:00- 15:30</br>
Members’ Squash</br></br>
17:00- 19:00</br>
Members’ Squash</br></br>
19:00 - 20:00</br>
Senior Only
Squash </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Joint Squash</br></br>
10:30 -13:30</br>
Family Squash</br></br>
13:30 - 19:30</br>
Members’ Squash</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>


<div class="bs-example">
    
 
    <div id="largeModal1" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Tennis Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>
				06:00 - 08:45
Members’ Tennis</br></br>
08:45 - 09:30</br>
Joint Tennis</br>
09:30 - 10:00</br>
Members’ Tennis</br></br>
12:30 -14:00</br>
Members’ Tennis</br></br>
14:00 - 15:00</br>
Joint Tennis</br></br>
15:00 - 16:30</br>
Friends Golf</br></br>
16:30 - 21:00</br>
Members’ Tennis</br></br>
				</td>
				 <td>
            09:00 - 10:30</br>
Joint Tennis</br></br>
10:30 -13:30</br>
Family Tennis</br></br>
13:30 - 19:30</br>
Members’ Tennis</br></br>
            </td>
				<td>
				06:00 - 09:00</br>
Members’ Tennis</br></br>
09:00 - 10:00</br>
Joint Tennis</br></br>
12:30 -14:00</br>
Members’ Tennis</br></br>
14:00 - 15:00</br>
Joint Tennis</br></br>
15:00 - 16:30</br>
Family Tennis</br></br>
16:30 - 19:30</br>
Members’ Tennis</br></br>
19:30 - 21:00</br>
Senior Only 
Tennis</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’ Tennis</br></br>
15:00 - 16:30</br>
Family Tennis</br></br>
16:30 - 19:00</br>
Members’ Tennis</br></br>
19:00 - 21:00</br>
Senior Tennis </br></br>
				</td>
				<td>06:00 - 10:00</br>
				Members’ Tennis</br></br>
				12:30 - 15:00</br>
				Members’ Tennis</br></br>
				15:00 - 16:30</br>
				Family Tennis</br></br>
				16:30 - 21:00</br>
				Members’ Tennis </br></td>
				
				<td>
				06:00 - 15:00</br>
Members’ Tennis</br></br>
15:00 - 16:30</br>
Family Tennis</br></br>
16:30 - 19:00</br>
Members’ Tennis</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’ Tennis</br></br>
09:30 - 11:00</br>
Family Tennis</br></br>
11:00- 15:30</br>
Members’ Tennis</br></br>
17:00- 19:00</br>
Members’ Tennis</br></br>
19:00 - 20:00</br>
Senior Only
Tennis </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Joint Tennis</br></br>
10:30 -13:30</br>
Family Tennis</br></br>
13:30 - 19:30</br>
Members’ Tennis</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

<div class="bs-example">
   
 
    <div id="largeModal2" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Golf Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>
				06:00 - 08:45
Members’ Golf</br></br>
08:45 - 09:30</br>
Club Golf</br>
09:30 - 10:00</br>
Members’ Golf</br></br>
12:30 -14:00</br>
Members’ Golf</br></br>
14:00 - 15:00</br>
Club Golf</br></br>
15:00 - 16:30</br>
Friends Golf</br></br>
16:30 - 21:00</br>
Members’ Golf</br></br>
				</td>
				 <td>
            09:00 - 10:30</br>
Club Golf</br></br>
10:30 -13:30</br>
Friends Golf</br></br>
13:30 - 19:30</br>
Members’ Golf</br></br>
            </td>
				<td>
				06:00 - 09:00</br>
Members’ Golf</br></br>
09:00 - 10:00</br>
Club Golf</br></br>
12:30 -14:00</br>
Members’ Golf</br></br>
14:00 - 15:00</br>
Club Golf</br></br>
15:00 - 16:30</br>
Friends Golf</br></br>
16:30 - 19:30</br>
Members’ Golf</br></br>
19:30 - 21:00</br>
Senior Only Club
Golf</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’ Golf</br></br>
15:00 - 16:30</br>
Friends Golf</br></br>
16:30 - 19:00</br>
Members’ Golf</br></br>
19:00 - 21:00</br>
Senior Only Club
Golf </br></br>
				</td>
				<td>06:00 - 10:00</br>
				Members’ Golf</br></br>
				12:30 - 15:00</br>
				Members’ Golf</br></br>
				15:00 - 16:30</br>
				Friends Golf</br></br>
				16:30 - 21:00</br>
				Members’ Golf </br></td>
				
				<td>
				06:00 - 15:00</br>
Members’ Golf</br></br>
15:00 - 16:30</br>
Friends Golf</br></br>
16:30 - 19:00</br>
Members’ Golf</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’ Golf</br></br>
09:30 - 11:00</br>
Friends Golf</br></br>
11:00- 15:30</br>
Members’ Golf</br></br>
17:00- 19:00</br>
Members’ Golf</br></br>
19:00 - 20:00</br>
Senior Only
Golf </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Club Golf</br></br>
10:30 -13:30</br>
Friends Golf</br></br>
13:30 - 19:30</br>
Members’ Golf</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
  
    <div id="largeModal3" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Basketball Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>
				06:00 - 08:45
Members’ Basketball</br></br>
08:45 - 09:30</br>
Open Basketball</br>
09:30 - 10:00</br>
Members’ Basketball</br></br>
12:30 -14:00</br>
Members’ Basketball</br></br>
14:00 - 15:00</br>
Open Basketball</br></br>
15:00 - 16:30</br>
Family Basketball</br></br>
16:30 - 21:00</br>
Members’ Basketball</br></br>
				</td>
				 <td>
            09:00 - 10:30</br>
Open Basketball</br></br>
10:30 -13:30</br>
Family Basketball</br></br>
13:30 - 19:30</br>
Members’ Basketball</br></br>
            </td>
				<td>
				06:00 - 09:00</br>
Members’ Basketball</br></br>
09:00 - 10:00</br>
Open Basketball</br></br>
12:30 -14:00</br>
Members’ Basketball</br></br>
14:00 - 15:00</br>
Open Basketball</br></br>
15:00 - 16:30</br>
Family Basketball</br></br>
16:30 - 19:30</br>
Members’ Basketball</br></br>
19:30 - 21:00</br>
Senior Only Open
Basketball</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’ Basketball</br></br>
15:00 - 16:30</br>
Family Basketball</br></br>
16:30 - 19:00</br>
Members’ Basketball</br></br>
19:00 - 21:00</br>
Senior Only Open
Basketball </br></br>
				</td>
				<td>06:00 - 10:00</br>
				Members’ Basketball</br></br>
				12:30 - 15:00</br>
				Members’ Basketball</br></br>
				15:00 - 16:30</br>
				Family Basketball</br></br>
				16:30 - 21:00</br>
				Members’ Basketball </br></td>
				
				<td>
				06:00 - 15:00</br>
Members’ Basketball</br></br>
15:00 - 16:30</br>
Family Basketball</br></br>
16:30 - 19:00</br>
Members’ Basketball</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’ Basketball</br></br>
09:30 - 11:00</br>
Family Basketball</br></br>
11:00- 15:30</br>
Members’ Basketball</br></br>
17:00- 19:00</br>
Members’ Basketball</br></br>
19:00 - 20:00</br>
Senior Only
Basketball </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Open Basketball</br></br>
10:30 -13:30</br>
Family Basketball</br></br>
13:30 - 19:30</br>
Members’ Basketball</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
    <!-- Large modal -->
	
    <div id="largeModal4" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Swiming Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>
				06:00 - 08:45
Members’ Swim</br></br>
08:45 - 09:30</br>
Zoned Swim</br>
09:30 - 10:00</br>
Members’ Swim</br></br>
12:30 -14:00</br>
Members’ Swim</br></br>
14:00 - 15:00</br>
Zoned Swim</br></br>
15:00 - 16:30</br>
Family Swim</br></br>
16:30 - 21:00</br>
Members’ Swim</br></br>
				</td>
				 <td>
            09:00 - 10:30</br>
Zoned Swim</br></br>
10:30 -13:30</br>
Family Swim</br></br>
13:30 - 19:30</br>
Members’ Swim</br></br>
            </td>
				<td>
				06:00 - 09:00</br>
Members’ Swim</br></br>
09:00 - 10:00</br>
Zoned Swim</br></br>
12:30 -14:00</br>
Members’ Swim</br></br>
14:00 - 15:00</br>
Zoned Swim</br></br>
15:00 - 16:30</br>
Family Swim</br></br>
16:30 - 19:30</br>
Members’ Swim</br></br>
19:30 - 21:00</br>
Senior Only Zoned
Swim</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’ Swim</br></br>
15:00 - 16:30</br>
Family Swim</br></br>
16:30 - 19:00</br>
Members’ Swim</br></br>
19:00 - 21:00</br>
Senior Only Zoned
Swim </br></br>
				</td>
				<td>06:00 - 10:00</br>
				Members’ Swim</br></br>
				12:30 - 15:00</br>
				Members’ Swim</br></br>
				15:00 - 16:30</br>
				Family Swim</br></br>
				16:30 - 21:00</br>
				Members’ Swim </br></td>
				
				<td>
				06:00 - 15:00</br>
Members’ Swim</br></br>
15:00 - 16:30</br>
Family Swim</br></br>
16:30 - 19:00</br>
Members’ Swim</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’ Swim</br></br>
09:30 - 11:00</br>
Family Swim</br></br>
11:00- 15:30</br>
Members’ Swim</br></br>
17:00- 19:00</br>
Members’ Swim</br></br>
19:00 - 20:00</br>
Senior Only
Swim </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Zoned Swim</br></br>
10:30 -13:30</br>
Family Swim</br></br>
13:30 - 19:30</br>
Members’ Swim</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
   
    <div id="largeModal5" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Fitness-Floor Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>
				06:00 - 08:45
Members’  Fitness</br></br>
08:45 - 09:30</br>
Zoned  Fitness</br>
09:30 - 10:00</br>
Members’  Fitness</br></br>
12:30 -14:00</br>
Members’  Fitness</br></br>
14:00 - 15:00</br>
Zoned  Fitness</br></br>
15:00 - 16:30</br>
Specific Fitness</br></br>
16:30 - 21:00</br>
Members’  Fitness</br></br>
				</td>
				 <td>
            09:00 - 10:30</br>
Zoned  Fitness</br></br>
10:30 -13:30</br>
Specific Fitness</br></br>
13:30 - 19:30</br>
Members’  Fitness</br></br>
            </td>
				<td>
				06:00 - 09:00</br>
Members’  Fitness</br></br>
09:00 - 10:00</br>
Zoned  Fitness</br></br>
12:30 -14:00</br>
Members’  Fitness</br></br>
14:00 - 15:00</br>
Zoned  Fitness</br></br>
15:00 - 16:30</br>
Specific Fitness</br></br>
16:30 - 19:30</br>
Members’  Fitness</br></br>
19:30 - 21:00</br>
Senior Only Zoned
 Fitness</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’  Fitness</br></br>
15:00 - 16:30</br>
Specific Fitness</br></br>
16:30 - 19:00</br>
Members’  Fitness</br></br>
19:00 - 21:00</br>
Senior Only Zoned
 Fitness </br></br>
				</td>
				<td>06:00 - 10:00</br>
				Members’  Fitness</br></br>
				12:30 - 15:00</br>
				Members’  Fitness</br></br>
				15:00 - 16:30</br>
				Specific Fitness</br></br>
				16:30 - 21:00</br>
				Members’  Fitness </br></td>
				
				<td>
				06:00 - 15:00</br>
Members’  Fitness</br></br>
15:00 - 16:30</br>
Specific Fitness</br></br>
16:30 - 19:00</br>
Members’  Fitness</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’  Fitness</br></br>
09:30 - 11:00</br>
Specific Fitness</br></br>
11:00- 15:30</br>
Members’  Fitness</br></br>
17:00- 19:00</br>
Members’  Fitness</br></br>
19:00 - 20:00</br>
Senior Only
 Fitness </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Zoned  Fitness</br></br>
10:30 -13:30</br>
Specific Fitness</br></br>
13:30 - 19:30</br>
Members’  Fitness</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
   
 
    <div id="largeModal6" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Snooker Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>
				06:00 - 08:45
Members’ Snook</br></br>
08:45 - 09:30</br>
Join Snook</br>
09:30 - 10:00</br>
Members’ Snook</br></br>
12:30 -14:00</br>
Members’ Snook</br></br>
14:00 - 15:00</br>
Join Snook</br></br>
15:00 - 16:30</br>
Family Snook</br></br>
16:30 - 21:00</br>
Members’ Snook</br></br>
				</td>
				 <td>
            09:00 - 10:30</br>
Join Snook</br></br>
10:30 -13:30</br>
Family Snook</br></br>
13:30 - 19:30</br>
Members’ Snook</br></br>
            </td>
				<td>
				06:00 - 09:00</br>
Members’ Snook</br></br>
09:00 - 10:00</br>
Join Snook</br></br>
12:30 -14:00</br>
Members’ Snook</br></br>
14:00 - 15:00</br>
Join Snook</br></br>
15:00 - 16:30</br>
Family Snook</br></br>
16:30 - 19:30</br>
Members’ Snook</br></br>
19:30 - 21:00</br>
Senior Only Join
Snook</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’ Snook</br></br>
15:00 - 16:30</br>
Family Snook</br></br>
16:30 - 19:00</br>
Members’ Snook</br></br>
19:00 - 21:00</br>
Senior Only Join
Snook </br></br>
				</td>
				<td>06:00 - 10:00</br>
				Members’ Snook</br></br>
				12:30 - 15:00</br>
				Members’ Snook</br></br>
				15:00 - 16:30</br>
				Family Snook</br></br>
				16:30 - 21:00</br>
				Members’ Snook </br></td>
				
				<td>
				06:00 - 15:00</br>
Members’ Snook</br></br>
15:00 - 16:30</br>
Family Snook</br></br>
16:30 - 19:00</br>
Members’ Snook</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’ Snook</br></br>
09:30 - 11:00</br>
Family Snook</br></br>
11:00- 15:30</br>
Members’ Snook</br></br>
17:00- 19:00</br>
Members’ Snook</br></br>
19:00 - 20:00</br>
Senior Only
Snook </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Join Snook</br></br>
10:30 -13:30</br>
Family Snook</br></br>
13:30 - 19:30</br>
Members’ Snook</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
    <div class="bs-example">
    <!--  -->
    <div id="largeModal7" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title"><code>Badminton Time-Table</code></h4>
                </div>
                <div class="modal-body">
                    <!-- -------------------------------- -->

<table class="table table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thrusday</th>
            <th>Friday</th>
            <th>Saturday</th>
            <th>Sunday</th>
            
        </tr>
    </thead>
    <tbody>
        <tr>
        <td></td>
            <td>
				06:00 - 08:45
Members’ Badminton</br></br>
08:45 - 09:30</br>
Friends Badminton</br>
09:30 - 10:00</br>
Members’ Badminton</br></br>
12:30 -14:00</br>
Members’ Badminton</br></br>
14:00 - 15:00</br>
Friends Badminton</br></br>
15:00 - 16:30</br>
Family Badminton</br></br>
16:30 - 21:00</br>
Members’ Badminton</br></br>
				</td>
				 <td>
            09:00 - 10:30</br>
Friends Badminton</br></br>
10:30 -13:30</br>
Family Badminton</br></br>
13:30 - 19:30</br>
Members’ Badminton</br></br>
            </td>
				<td>
				06:00 - 09:00</br>
Members’ Badminton</br></br>
09:00 - 10:00</br>
Friends Badminton</br></br>
12:30 -14:00</br>
Members’ Badminton</br></br>
14:00 - 15:00</br>
Friends Badminton</br></br>
15:00 - 16:30</br>
Family Badminton</br></br>
16:30 - 19:30</br>
Members’ Badminton</br></br>
19:30 - 21:00</br>
Senior Only Friends
Badminton</br></br>
				</td>
				<td>
				06:00 - 13:30</br>
Members’ Badminton</br></br>
15:00 - 16:30</br>
Family Badminton</br></br>
16:30 - 19:00</br>
Members’ Badminton</br></br>
19:00 - 21:00</br>
Senior Only Friends
Badminton </br></br>
				</td>
				<td>06:00 - 10:00</br>
				Members’ Badminton</br></br>
				12:30 - 15:00</br>
				Members’ Badminton</br></br>
				15:00 - 16:30</br>
				Family Badminton</br></br>
				16:30 - 21:00</br>
				Members’ Badminton </br></td>
				
				<td>
				06:00 - 15:00</br>
Members’ Badminton</br></br>
15:00 - 16:30</br>
Family Badminton</br></br>
16:30 - 19:00</br>
Members’ Badminton</br></br>
				</td>
            <td>
            08:00 - 09:30</br>
Members’ Badminton</br></br>
09:30 - 11:00</br>
Family Badminton</br></br>
11:00- 15:30</br>
Members’ Badminton</br></br>
17:00- 19:00</br>
Members’ Badminton</br></br>
19:00 - 20:00</br>
Senior Only
Badminton </br></br>
            </td>
            <td>
            09:00 - 10:30</br>
Friends Badminton</br></br>
10:30 -13:30</br>
Family Badminton</br></br>
13:30 - 19:30</br>
Members’ Badminton</br></br>
            </td>
        </tr>
       
    </tbody>
</table>


                    <!-- -------------------------------- -->
              		</div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
  <script src="js/jquery.js"></script>
</body>


</html>