<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sports Club Website</title>

    <link href="css/grayscale.css" rel="stylesheet">
    <link href="css/hover.css" rel="stylesheet">
    <link href="css/animate.min.css" rel="stylesheet">

    <link href="css/animate.css" rel="stylesheet">
     

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

</head>

<body>
<!-- vertical buttons -->


   

    <!-- Intro Header -->
    <header class="intro" id="page-top">
        <div class="intro-body">
            <div class="container">
                 <div class="header">
        <div class="clr"></div>
    </div>


    <div class="sp-container">
        <div class="sp-content">
            <div class="sp-globe"></div>
                <h2 class="frame-1">"You were born to be a player.</h2>

                <h2 class="frame-2">You were meant to be here.</h2>

                <h2 class="frame-3">This moment is yours.”</h2>

                <h2 class="frame-4">Join Us Now!</h2>

                <h2 class="frame-5"><span>BlueJay</span> <span>Sports</span> <span>Club</span></h2>
   

        </div>
    </div>
            </div>
        
        
</div>
    </header>
       

    <!-- About Section -->

    <section id="about" class="container text-center">
       
      <div class="row text-center">
         </br></br></br>
         <div class="gott">
              <div class="col-md-4">
                    <div class="dashboard-div-wrapper bk-clr-two hvr-icon-pop hvr-shadow-radial wow flipInX">
                        <i  class="fa fa-edit dashboard-div-icon" ></i>
                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                             </div>
                           
                        </div>
                         <h4>Our Club </h4>
                         <p>
                         The Bluejay Club Sports Program at Pune was initiated about 112 years ago by Edward C. Migdalski, a national leader and pioneer in outdoor recreation and club sports. 
                         
                         </p>
                         <a  class="btn btn-default btn-block" data-toggle="modal" data-target="#sModal"> <i class="glyphicon glyphicon-repeat"></i> Dive In </a>
                          

                    </div>
                 </div>
             <div class="col-md-4">
                    <div class="dashboard-div-wrapper bk-clr-four hvr-icon-pop hvr-shadow-radial wow flipInX">
                        <i  class="fa fa-flag dashboard-div-icon" ></i>

                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            </div>
                           
                        </div>
                         <h4>Latest News </h4>
                         <p>
                          This section has all the latest update  related to the activities and facilites.Our Club is ranked no 1 in India among Other Sports Club and Recreation Activities Centre.
                         
                         </p>
                          <a  class="btn btn-default btn-block" data-toggle="modal" data-target="#sModal1"> <i class="glyphicon glyphicon-repeat"></i> Dive In </a>
                    </div>
                </div>
              <div class="col-md-4">
                    <div class="dashboard-div-wrapper bk-clr-three hvr-icon-pop hvr-shadow-radial wow flipInX">
                        <i  class="fa fa-bell-o dashboard-div-icon" ></i>

                        <div class="progress progress-striped active">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            </div>
                           
                        </div>
                         <h4>Notice Board</h4>
                         <p class = "den">
                         This section holds all the Important Notices and Curricular related to the management.Club members are requested to kindly visit this section time to time and follow instructions.
                         
                         </p>
                          <a  class="btn btn-default btn-block" data-toggle="modal" data-target="#sModal2"> <i class="glyphicon glyphicon-repeat"></i> Dive In </a>
                    </div>
                </div>
                </div>
       <!-- <div class="row">
                <div class="col-md-6">
                      <div class="notice-board wow flipInX clr">
                        <div class="panel panel-default clr">
                            <div class="panel-heading clr">
                           Active  Update Panel 
                                
                            </div>
                            <div class="panel-body clr">
                               
                                <ul >
                                   
                                     <li>
                                            <a href="#">
                                
                                                  Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                  Lorem ipsum dolor sit amet ipsum dolor sit amet
                                                  Lorem ipsum dolor sit amet ipsum dolor sit amet
                                              
                                            </a>
                                    </li>
                                     <li>
                                          <a href="#">
                                      
                                          Varsity Trials 2015!

                                          National Badminton and Squash Trial is going to conduct in our club.!!!

                                          </a>
                                         
                                    </li>
                                     <li>
                                          <a href="#">
                                      
                                         Run for fun marathon is on 25-August-2015.  Lorem ipsum dolor sit amet ipsum dolor sit ametLorem ipsum dolor sit amet ipsum dolor sit amet
                                         
                                         
                    
                                         
                                            
                                    </li>
                                    <li>
                                          <a href="#">
                                   
                                         Intraclub basketball Game
                                        - Basketball Match between our club members.
                                        Lorem ipsum dolor sit amet ipsum dolor sit amet 
                                          
                                            </a>
                                    </li>
                                   </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="panel-footer">
                                <a href="#" class="btn btn-default btn-block"> <i class="glyphicon glyphicon-repeat"></i> Just A Small Footer Button</a>
                            </div>
                        </div>
                    </div>
 -->
       <!--  </div> -->
    </section>

   
     <div id="video-sec" class="player" data-property="{ videoURL:'https://www.youtube.com/watch?v=xGU-e8cpaZk',containment:'self',autoPlay:true, mute:true, startAt:0, opacity:1,mute:true,showControls:false }">
        <div class="overlay">
            <div class="container">
                <div class="row text-center">
                    <div class="col-md-12">
                        <h1>“There may be people that have more talent than you, but theres no excuse for anyone to work harder than you do. - Joe Public"</h1>
                       
                    </div>
                </div>
            </div>
        </div>
</div>
    
<section id="features" class="epic">
<div class="container ">
    <!-- Example row of columns -->
    <div class="row features">
        <div class="col-md-12 text-center">
            <h2>Amazing Features</h2>

            <h4> { Servies Provided by our Club }</h4>
        </div>
    </div>
    <div class="row features">

        <div class="col-lg-2 col-sm-4">
         
            <a href="/gallery" >  <div class="hexicon">
              <div class="inicon retina wow swing">
                  
            </div></a>

        </div>

     </div>

        <div class="col-lg-2 col-sm-4">
           <a href="/member" class = "hvr-bounce-in ">   <div class="hexicon">
                <div class="inicon support wow swing "></div>
            </div>
        </div></a>

        <div class="col-lg-2 col-sm-4">
          <a href="/coach" class = "hvr-bounce-in ">    <div class="hexicon">
                <div class="inicon speed wow swing"></div>
            </div>
        </div></a>

        <div class="col-lg-2 col-sm-4">
           <a href="/test" class = "hvr-bounce-in ">   <div class="hexicon">
                <div class="inicon social wow swing"></div>
            </div>
        </div></a>
        <div class="col-lg-2 col-sm-4">
           <a href="/book" class = "hvr-bounce-in ">   <div class="hexicon">
                <div class="inicon shopping wow swing "></div>
            </div>
        </div></a>
        <div class="col-lg-2 col-sm-4">
            <a href="/time" class = "hvr-bounce-in ">  <div class="hexicon">
                <div class="inicon cloud wow swing"></div>
            </div>
        </div></a>

         <a href="/gallery"><div class="col-lg-2 col-sm-4"><h3 class="one">Gallery</h3></div></a><a href="/member"> <div class="col-lg-2 col-sm-4"><h3 class="two">Membership</h3></div></a><a href="/coach"> <div class="col-lg-2 col-sm-4"><h3 class="three">Facilities</h3></div></a><a href="#about"> <div class="col-lg-2 col-sm-4"><h3 class="four">Testimony</h3></div></a><a href="/book"> <div class="col-lg-2 col-sm-4"><h3 class="five">Booking</h3></div></a><a href="/time"> <div class="col-lg-2 col-sm-4"><h3 class="six">Time-Table</h3></div></a>


    </div>


</div>
</section>
<!--  <button class="btn btn-primary" data-toggle="modal" data-target="#smallModal">Small modal</button>
      -->
<!--  -->
<div id="sModal" class="modal fade bs-example-modal-lg"               tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg ">
            <div class="modal-content dd">
                <div class="modal-header dd">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    
                    <h4 class="xx modal-title">Club History</h4>
                </div>
                <div class="modal-body">

                    <p>
In 1903 pedestrians walking over Quaker Bridge en route from Monton to Eccles would have seen ahead of them the grand and seminal Victorian houses of Ellesmere Park. On the left and right would have been open fields and below the railway line from Eccles to Swinton. If it had been a Saturday there may have been a lacrosse game on the field to the left because this had just become the home ground of the Monton Lacrosse Club. This area was known as the “Quaker Bridge Ground”, and would, over the next century or so, slowly evolve into the wonderful Monton Sports Club we enjoy today.</br></br>
In 1911 a pavilion was built by the lacrosse club with two changing rooms and a veranda. This facility was to remain operational for the next 65 years.</br></br>
In 1921 Monton Cricket Club moved to the Quaker Bridge Ground and, jointly with Monton Lacrosse Club, entered into a fifteen year lease with Bridgewater Estates. A cricket pitch and two grass tennis courts were immediately laid out. These tennis courts ran lengthways along what is now Welbeck Road and the initial concept was to provide sporting recreation for the wives and girlfriends of the cricket players. In 1921 the club membership was 96 but the tennis section grew enormously and by 1922 it had grown to 288. The annual subscription was one pound and five shillings for gentlemen and one pound for ladies.</br></br>
In 1927 Bridgewater estates owned the ground and offered it for sale at a price of £1,000. The members were approached for loans to enable the purchase, but the response was poor and inadequate. This was the complete opposite of the position nearly 100 years later in 2013 when the members donated enormous amounts of money to finance the construction of the “East Wing”.</br></br>
A further attempt to purchase the ground was conceived in 1929. This involved a “Three Day Bazaar” at Eccles Town Hall organised by the hard working and highly motivated members. The Bazaar comprised a large number of stalls selling all manner of goods. There were also a variety of refreshments available together with concerts and other entertainment including an orchestra which played every afternoon and evening. The event was a raging success and the massive amount of £1,400 was raised. The ground was therefore acquired along with a covenant stating that the land must be kept as “an open space for the purposes of sport”.</br></br>
In the early 1930’s two shale tennis courts were added to the two grass courts which were later converted into hard courts.</br></br>
By the mid 1930’s new houses were being built along an extension of Cavendish Road, which is now Welbeck Road. This meant access to mains services was available and therefore a decision was made to further develop the club premises. Toilets and a shower were added along with a clubhouse extension complete with ladies changing facilities, a kitchen and a bar. The total cost was £350.
The new pavilion was opened in May 1936 by Ernest Tyldsley, the well known Lancashire player. The Eccles Journal described the club’s new facilities as the “finest in the area”. What goes around comes around because with the 2013 development the club is unequivocally the best for miles around.</br></br>
The outbreak of war in 1939 caused a pause in the evolution of the club. The AGM of 1943 noted that there were 47 members serving in the forces. Much hard work by a few members ensured there was some intermittent cricket and tennis played each year during the war. The 456th Heavy Anti-Aircraft Royal Artillery Battery was fortuitously stationed in Ellesmere Park. Many of the soldiers played at the club and carried out maintenance work. Unfortunately a plaque presented to the club after the war recalling this happy association has since been lost.</br>
It says much for all those involved that at the end of the war the club had an improved financial position in spite of a greatly reduced membership. In 1946 another shale tennis court was added at the rear of the houses on Cavendish Road. Also in 1946 Boardman and Eccles Lacrosse Club moved to Quaker Bridge and started renting the ground.</br></br>
In 1953 the club celebrated its Jubilee Year which also coincided with the coronation of the new Queen. An Opening of the Season Dance was held at Worsley Court House. On Coronation Day itself Monton beat long standing rivals Worsley by 9 wickets having dismissed the visitors for a measly 34 runs. At the AGM the treasurer reported that the club was financially sound. There were 508 members including 300 playing members and 70 juniors.</br></br>
The railway line at the side of the club closed in 1953 when a tunnel in Swinton colloquially known as Black Harry collapsed and three houses in Temple Drive fell into the tunnel killing 5 people as they slept. In 1964 British Rail offered the land for sale and after some keen negotiation a fabulous deal was struck whereby 63 feet of additional land was acquired to the right of the ground. This added two thirds of an acre to our land portfolio. The price was £108.7s.5d, or £108.37 in “new money”.</br></br>
The railway land was about a metre higher than the cricket field and apart from selling some topsoil nothing much was done for some time and the land became a paradise for motor bike enthusiasts and fly tippers. A solution regarding on how to use the land materialised in 1971 when the local authority decided to build a scenic walkway along the old railway line. The club agreed to surrender 15 feet of land for the footpath in return for the council levelling and seeding the ground in addition to erecting a 6 feet high fence, which they agreed to maintain in perpetuity. The soil and hardcore was removed and used in the building of the M62 motorway.</br>
Through the 1960’s the club was kept afloat and barely viable by a very small nucleus of members who were prepared to work hard. The pavilion was somewhat dilapidated and the changing rooms were still those erected by Monton Lacrosse Club in 1911. In 1969 a small grant was obtained from the Department of Education and together with loans from Lancashire Playing Fields Association and Scottish and Newcastle Brewery an extension was carried out at the car park end of the club. This comprised a new kitchen, ladies toilet and an additional changing room. The total cost was £5,200.</br>
Many considered the name Monton Cricket Club to be too insular, especially given the likelihood that Boardman and Eccles Lacrosse Club would amalgamate with the cricket and tennis sections. Consequently in 1968 a new set of rules for Monton Sports Club were unanimously adopted and Monton Cricket Club ceased to exist.
Boardman and Eccles Lacrosse Club had paid rent to Monton for the use of the ground since 1946 and after much discussion became the Lacrosse Section of the Sports club in 1970. This amalgamation swelled the membership numbers to 479.</br></br>
Balancing the books and paying the bills, however, remained a perennial challenge, and by the mid seventies the club was destitute and in a severe state of disrepair with holes in the wooden changing room floors. Consequently a massively ambitious development project was planned concluding in the construction of what is now the Oakwood Lounge, new changing rooms, ladies and gents toilets and, most importantly of all from a revenue perspective, two squash courts. This is now known as the “west wing” and immediately transformed the club into a thriving and highly lucrative operation.</br>
The £35,000 cost had been raised by selling two dilapidated all weather tennis courts for £14,600 upon which two houses were subsequently built. A brewery loan was raised and much successful fund raising carried out by a highly motivated membership, including a massively successful “It’s a Knock Out” with the now discredited Stuart Hall as the main attraction. Approximately 3,000 people were expected but 7,000 turned up resulting in a highly lucrative day.
The new facilities were opened in November 1976 by the Right Honourable Dennis Howell, MP – Minister for Sport. The development project was led by Alan Haselhurst who later became MP for Saffron Waldon, was knighted for his services to politics and served as Deputy Speaker in the House of Commons from 1997 to 2010. Alan was ably supported in his endeavours by the then secretary Keith Brookes and treasurer Geoff Tims. By 1978 the club had made enough money to build a residential manager’s flat above the changing rooms and toilets.</br></br>
After a couple of decades of high profitability, impressive financial revenue streams began to dwindle once more and the club found it progressively harder to fund essential maintenance requirements and improvement projects. During this period Harry Brown did a magnificent job of running the club, serving as treasurer for an unbelievable 25 years. He was substantially supported by his business partner Bill Gray, who served as secretary for a mere 22 years.</br></br>
In 1980 a car was raffled in conjunction with the British Olympic Association and the money raised was used to extend and surface the car park. Further developments through the 1980’s included extending the main function room and kitchen out towards the field by 8 feet. At the same time the ladies toilet, changing room and store room built in 1969 at the car park end of the club were converted into new ladies and gents toilets, thus making the function room self contained.</br>
Other projects included building the patio and a combined brick scoreboard and ground equipment store. In 1983 numerous deciduous and coniferous trees were planted on two sides of the ground. These have created the wonderfully picturesque ground we enjoy today. The trees were sponsored and named for the members who paid for them. A schematic indicating the layout is displayed in the club. The shale tennis courts were finally upgraded to “all weather” and in 1988 a fourth court was added.</br></br>
In the cyclic nature of Monton and most other clubs the 1990’s and “noughties” found our operation in the financially negative part of the cycle and private money was often used to “balance the books”.</br></br>
In 2011 a massively ambitious project was devised to once again transform the club in a similar fashion to the seventies. The major difference was that this time the members were expected to cover the majority of the cost. The initial concepts have metamorphosed over the last two years into what is affectionately known as the “east wing” as distinct from the seventies “west wing”. This massively impressive structure comprises an extended state of the art kitchen and very swish new ladies and gents toilets, above which is a luxurious member’s bar with a magnificent view of the field.</br></br>
The initial highly optimistic concept that the members would stump up large amounts of cash was not ill founded. Of the £260,000 development cost the members contributed an amazing £164,000 combined with a grant of £36,000 from Viridor Waste Management and a £60,000 bank loan.</br></br>
As past president and life member Willie arrison noted in the centenary brochure produced in 2003, “the members owe a huge debt to a small number of people whose vision, commitment and efforts have brought us to where we are today”.</p>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
   
<div id="sModal1" class="modal fade bs-example-modal-lg"               tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content dd1">
                <div class="modal-header dd1">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title xx">Latest News</h4>
                </div>
                <div class="modal-body">
                <h4><code>Tennis Jingle Ball Tournament</code></h4>
                    <p>The cold weather on Saturday couldn't spoil the Christmassy atmosphere on courts 1 to 6 for our annual Jingle Ball team tournament. The tournament itself was followed by the 30 players playing a game of 'Around the World', and after a lot of running  Larry Crockett was crowned the victor. The winning tournament team was then announced - well done to everyone in Leighton's team (including Larry again!) - and the fancy dress prize was awarded to Louise McMurchie, dressed as a christmas pudding! The tennis was followed by a warming roast dinner and the famous Jingle Ball quiz. Congrats to the winning quiz team - and yes, you've guessed it - Larry was part of that team as well!!!</p><hr>
                    <h4><code>Squash Invitation Doubles</code></h4>
                    <p>
                    This Easter, Middleton Sports Club will be celebrating the 65th Anniversary of the Invitation Doubles. As most of you are aware, this is one of the biggest events of the year for the sports club, so let's show our usual support.

Dusting off your racket and gracing the courts, propping yourself up at the bar, securing your spot in the viewing gallery or dancing away to The Caws Brothers on Saturday night, is all that is required.

To enter, it will cost each pair £30. However, if you enter 2 categories (mixed & men’s), you will only be required to pay £25.The tournament will be a monrad event over Good Friday and Easter Saturday and as usual, women's pairs can take on the men in the Men’s A/B/C event.
                    </p><hr>
                    <h4><code>Snooker Dinner</code></h4>
                    <p>
                    This dinner will provide the chance for all those who participate in the Snooker club to have an enjoyable social “get together” with good food and at a competitive price.
                    </p><hr>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
   
  <div id="sModal2" class="modal fade bs-example-modal-lg"               tabindex="-1" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content dd2">
                <div class="modal-header dd2">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title xx">Notice Board</h4>
                </div>
                <div class="modal-body">
                <h4><code> Catering Announcement</code></h4>
                    <p>
                     
Thank you to everyone who has paid their 2014/2015 subs already. The office team would like to thank Rosemary Gregory, Chris Jervis and Dinah Van der Wee for assisting them with the delivery of the membership subs. Your help is very much appreciated.
                    </p><hr>
                    <h4><code> Membership Subs</code></h4>
                    <p>
                     
We are pleased to announce that we have signed a 'Heads of Agreement' with new caterers who will be taking over the restaurant franchise at our club on Monday 18th August.

They will be running the restaurant and, working with the club, organising social events and functions to make it an even better venue for members.
                    </p><hr>
                    <h4><code>Weekly Newsletter</code></h4>
                    <p>
                    Those member's who didn't received the current edition newsletter kindly contact the account section.
                    </p>
                </div>
                <div class="modal-footer">
                    
                    <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>
   
  <script src="js/wow.min.js"></script>
              <script>
              new WOW().init();
              </script>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>

    
 <script src="js/jquery.mb.YTPlayer.js"></script>
 <script src="js/jquery.easing.min.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="js/grayscale.js"></script>
    <script src="js/EventHelpers.js"></script>
<script src="js/cssQuery-p.js"></script>
<script src="js/sylvester.js"></script>
<script src="js/cssSandpaper.js"></script>

</body>

</html>
